<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css">

    <title>Login</title>
</head>
<body>
    <div id="root">
 Login
 <br>
<input v-model="email" v-bind:class="{red: email.length < 2 }">
<input type="password" v-model="password" >
<button type="button" class="btn btn-primary" 
v-bind:disabled="!email.includes('.com') || !email.includes('.com') ||
password.length < 6"
>Login</button>



    </div>



<script>
    app = new Vue({
        el: '#root',
        data:{ 
            email: 'email',
            password: 'password',
         }
    })
</script>
</body>
</html>
